- content_for :head do
  %style{:type => "text/css"}
    :sass
      .form-field
        color: green
        margin-bottom: 0.5em
      #state-province-region
        display: inline-block
        padding: 0px
        margin: 0px
      #state-province-region fieldset
        padding: 0.5em
        border: solid gray 2px
        text-align:center
      #state-province-region span
        display:inline-block
      
.form-field
  %label{:for => "address_first_name"} First Name 
  %br/
  = form.text_field :first_name, :size => 32

.form-field
  %label{:for => "address_last_name"} Last Name 
  %br/
  = form.text_field :last_name, :size => 32

.form-field
  %label{:for => "address_email"} Email 
  %br/
  = form.text_field :email, :size => 32

.form-field
  %label{:for => "address_phone_number"} Telephone Number 
  %br/
  = form.text_field :phone_number, :size => 32

.form-field
  %label{:for => "address_street_1"} Street 
  %br/
  = form.text_field :street_1, :size => 32
  %p/
  = form.text_field :street_2, :size => 32

.form-field
  %label{:for => "address_city"} City 
  %br/
  = form.text_field :city, :size => 18

#state-province-region
  %fieldset
    %legend Select US State, Canadian Province, or other Region
    %span{:style => "margin-bottom:0.25em;color:green;"}
      State:
      = state_select :address, :state, {:country => "US"}
      
    %span{:style => "width:1.5em;text-align:center;margin-bottom:0.25em;"} or

    %span{:style => "margin-bottom:0.25em;color:green;"}
      Province: 
      = state_select :address, :province, :country => "CANADA"
    
    %span{:style => "width:1.5em;text-align:center;"} or

    %span{:style => "color:green;"}
      Region:
      = form.text_field :region, :size => 20 

.form-field
  %label{:for => "address_country"} Country
  %br/
  = form.country_select :country, ["United States", "Canada"], |
    :selected => country, :include_blank => true |

.form-field
  %label{:for => "address_postal_code"} ZIP or Postal Code 
  %br/
  = form.text_field :postal_code, :size => 20



