<%= simple_form_for @address, :url => [:address, atype] do |f| %>
  <%= hidden_field_tag('checkout-pipeline', "false") %>
  <%= f.input :first_name, :input_html => {:size => 32} %>
  <%= f.input :last_name, :input_html => {:size => 32 } %>
  <%= f.input :email, :input_html => {:size => 32 }%>
  <%= f.input :phone_number, :input_html => {:size => 32 }%>
  <%= f.input :street_1, :input_html => {:size => 32 }%>
  <%= f.input :street_2, :input_html => {:size => 32 }%>
  <%= f.input :city, :input_html => {:size => 32 }%>
  <fieldset id="state-province-region">
    <legend> Select US State, Canadian Province, or other Region</legend>
    <%= f.input :state, :required => false, :as => :mystate %>
    <%= f.input :province, :required => false, :as => :province %>
    <%= f.input :region, :required => false, :input_html => {:size => 35} %>
  </fieldset>
  <%= f.input :country, :as => :mycountry %> 
  <%= f.input :postal_code, :label => "Zip or Postal Code", :input_html => {:size => 20}  %>
  <!--
    The button box is intially shown.  It will be hidden if the 
    arrow box is used.
  -->
  <div id="button-box">
    <%= f.button :submit, :id => "next-action" %>
    <%= f.button :submit, :value => "Cancel" %>
  </div>
  <!--
    The same address check box is initially hidden.  It will be
    shown if the arrow box is used.
  -->
  <div id="same-addresses">
    <%= check_box_tag "same_as_billing" %>
    <span>Check if shipping address is the same as billing address</span>
  </div>
<% end %>

