- title "Enter Billing Information"
- content_for :login do
  #login-status
    = render :partial => 'users/login_status', :locals => {:user => @user}

- content_for :head do
  :css
    .arrow-box {
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
    .arrow-spacer {
      width: 20%;
      display: inline-block;
    }
    #login-status {
      margin-top: 0.5em;
      font-size: 1.5em;
      float: right;
      clear: right;
    }
    #same-addresses {
      margin: 0.75em 0em;
    }
 
- content_for :body do
  = error_messages_for :address
  .generic-form-container
    .generic-form-message
      Please enter your billing information as shown on your credit card statement.
    = form_for :address, :url => address_billing_url, :html => {:id => 'new_address_form'} do |form|
      = render :partial => "/address/fields", :locals => {:form => form, :country => @address.country}
      #same-addresses
        = check_box_tag "same_as_billing"
        %span Check if shipping address is the same as billing address
      .arrow-box
        = link_to current_cart_path do
          = image_tag 'back_to_cart.gif', :alt => "Back to Cart"
        .arrow-spacer
        = image_submit_tag 'shipping_right.gif', :alt => 'Proceed to Shipping'
