<% title "Enter Shipping Information" %>
<% content_for :login do %>
  <div id="login-status">
    <%= render 'users/login_status', :user => @user %>
  </div>
<% end %>

<% content_for :head do %>
  <style>
    .arrow-box {
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
    .arrow-spacer {
      width: 20%;
      display: inline-block;
    }
    #login-status {
      margin-top: 0.5em;
      font-size: 1.5em;
      float: right;
      clear: right;
    }
    #same-addresses {
      margin: 0.75em 0em
    fieldset {
      margin-bottom: 1em;
    }
    .generic-form-container {
      width: 51em;
    }
  </style>

  <script type="text/javascript">
    (function($) {
      $(document).ready(function() {
        // This page will submit or cancel the form using the
        // forward and back arrows instead of the submit buttons.        
        $("#button-box").hide();
        $("#to-payment").click(function() {
          // Submitting the form itself doesn't seem to work.
          $("#next-action").click();
          return false;
        });
      });
    })(jQuery);
  </script>

<% end %>

<% content_for :body do %>
  <%= error_messages_for :address %>
  <% if @order %>
    <%= error_messages_for :order %>
  <% end %>
  <div class="generic-form-container">
    <div class=generic-form-message>
      Please enter the address where you would like your items shipped.
    </div>
    <%= render 'address/form', :atype => :shipping %>
    <div class="arrow-box">
      <%= link_to new_address_billing_path do %>
        <%= image_tag 'billing_left.gif', :alt => "Back to Billing" %>
      <% end %>
      <div class="arrow-spacer"></div>
      <%= image_tag 'payment_right.gif', :id => "to-payment", :alt => 'Choose Shipping Method' %>
    </div>
  </div>
<% end %>
