<% title "Manage Products" %>

<% content_for(:head) do %>
  <style type="text/css">
    #right-panel {
      padding-left: 0em;
    }
    body {
      min-width:75em;
    }
    .product-action {
      padding: 0.25em;
    }
    #search-parameters > .centered-box {
      width: 35em;
      background-color: darkgoldenrod;
      margin: 0em auto;
    }
    #search-results {
      height:26em;
    }
    #products-table-wrapper {
      height:26em; 
      width:47em;
    }
    .generic-table {
      min-width:45.9em; /* override */
    }
  </style>

  <script type="text/javascript">

    function show_spinner() {
      $("#ajax-indicator img").show();
    }

    function hide_spinner() {
      $("#ajax-indicator img").hide();
    }

    $.fn.submitWithAjax = function() {
      this.submit(function() {
        show_spinner();
        $.post(
          this.action,
          $(this).serialize(),
          hide_spinner,
          "script"
        );
        return false;
      });
      return this;
    };

    $(function() {
      $("#search_products").submitWithAjax();
    });

  </script>

<% end %>
                        
<% content_for(:navigation) do %>
  <div style="background-color:#dfd;padding:0.5em;">
    <%= link_to "Categories", admin_category_path(Category.root_id) %> |
    <%= link_to "Families", admin_product_families_path %> |
    <%= link_to "Attributes", admin_product_attributes_path %> |
    <%= link_to "Users", admin_users_path %> |
    <%= link_to "Orders", admin_orders_path %> |
    <%= link_to "Admin Home", admin_home_path %> |
    <%= link_to "Site Home", root_path %>
  </div>
<% end %>

<% content_for(:help) do %>
  To page through all products in alphabetical order by <em>Name</em>, just click Search.<br/>  
<% end %>

<% content_for(:body) do %>

  <div id="content-area">

    <div id="right-panel">
      <div id="actions-box" class="box-with-border">
        <div class="panel-header">
          Actions
        </div>
        <div class="product-action">
          <%= link_to "Create New Product", new_admin_product_path %>
        </div>
      </div>
                
      <div id="search-box" class="box-with-border">
        <div class="panel-header">
          Search for Products
        </div>
        <div id="search-parameters">
          <div class="centered-box">
            <%= render :partial => "admin/products/product_search", 
              :object => @product_search %>
          </div> <!-- end centered-box -->
        </div>
      </div>
                
      <div id="search-results-box" class="box-with-border">
        <div class="panel-header">
          Product Search Results
        </div>
        <!-- the innerHTML of the #search-results div will be replaced via XHR -->
        <div id="search-results">
        </div>
      </div> <!-- end of search-results-box -->
                        
    </div> <!-- end of the right-panel -->
  </div> <!-- end of the content-area -->

<% end %>
