!!! 5

%html{:lang => "en"}
  %head
    %title= yield(:title) || "Untitled"
    %meta{:charset => "utf-8"}
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'admin'
    %link{:rel => "shortcut icon", :href => asset_path("favicon.ico")}
    :css
      #ajax-indicator {
        height: 36px;
        background-color: transparent;
        margin-top: -36px;
      }
      #ajax-indicator > div {
        margin: auto;
        width: 36px;
      }
      #ajax-indicator img {
        display: none;
      }
    = yield :head
  %body
    #container.rounded-corners{:style => "overflow:auto;"}
      #user_nav
        =yield :navigation

      - if show_title?
        #title
          %h1= yield :title

      #message_box
        - flash.each do |name, msg| 
          = content_tag :div, msg, :id => "flash_#{name}"

      #ajax-indicator
        %div
          = image_tag "load.gif"

      - unless @previous_url.blank?
        #back-button-box.rounded-corners
          = link_to "Go Back", @previous_url

      #help-toggle-box
        %a#help-toggle.rounded-corners{:href => "#"} Show Help

      = yield :layout

    #help-contents.help.rounded-corners
      = yield :help

    = yield :body


